{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Discover Your Next Great Read{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Explore a vast collection of paperback books at our Wexford bookshop. From bestsellers to hidden gems, find your next great read today.">
    <meta name="keywords" content="bookstore, Wexford, paperback books, Irish authors, fiction, non-fiction, bestsellers, affordable books, online bookshop, literary fiction, classic literature, book lover, reading, Irish bookstore, book blog"></meta>

{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-8 my-auto">
                <h1 class="display-4 bookstore-font text-black">
                    Discover Your Next Great Read At The Bookstore, Wexford
                </h1>
                <p class="lead">
                    From bestsellers to hidden gems, our shelves are waiting to be explored. Find quality paperbacks at affordable prices.
                </p>
                <div class="my-5">
                    <h2>
                        <a href="{% url 'all_books' %}" class="browse-books-button btn btn-lg rounded-0 text-uppercase py-3">Browse Books</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mb-4">Welcome to  The Bookstore Wexford</h3>
                <p>Nestled in the heart of Wexford, The Bookstore is your go-to destination for quality paperback books at affordable prices. We're passionate about bringing the joy of reading to book lovers locally and nationwide via our website.</p>
                <p>Our carefully curated collection spans a wide range of genres, from gripping fiction and thought-provoking non-fiction to works by celebrated Irish authors and international bestsellers. Whether you're a casual reader or a dedicated bibliophile, you'll find something to pique your interest on our shelves.</p>
                <p>At The Bookstore, we believe that everyone should have access to great literature. That's why we focus on paperbacks - they're portable, affordable, and perfect for a rainy afternoon. Our commitment to competitive pricing means you can read to your heart's content without breaking the bank.</p>
                <p>Once you've finished your latest read, or while choosing your next great book, why not visit our sister site <a href="https://blog2-8708e1fd0f42.herokuapp.com/" class="font-weight-bold" target="_blank" rel="noopener noreferrer">'Book Blog'</a> to share your thoughts or find your next literary inspiration? Join our community of book lovers and dive deeper into the world of literature!</p>
                <p>Explore our virtual shelves, discover new authors, and rediscover old favorites. With our user-friendly website and efficient delivery service, your next literary adventure is just a click away. Welcome to The Bookstore, Wexford - where every book tells a story, and every reader finds their perfect match.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
      <footer>
        <a href="https://www.facebook.com/profile.php?id=61567552192724" target="_blank" rel="noopener noreferrer" id="facebook-link">
          <i class="fab fa-facebook-f"></i>
        </a>
      </footer>
      {% endblock %}