<div class="container-fluid">
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav w-auto mx-auto">
                    <!-- All Books Menu -->
                    <li class="nav-item dropdown">
                        <a class="bookstore-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Books
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                            <a href="" class="dropdown-item">By Price</a>
                            <a href="" class="dropdown-item">By Title</a>
                            <a href="" class="dropdown-item">By Author</a>
                            <a href="{% url 'all_books' %}" class="dropdown-item">All Books</a>
                        </div>
                    </li>

                    <!-- Fiction Menu -->
                    <li class="nav-item dropdown">
                        <a class="bookstore-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fiction
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                            <a href="{% url 'all_books' %}?category=classics" class="dropdown-item">Classics</a>
                            <a href="{% url 'all_books' %}?category=historical" class="dropdown-item">Historical</a>
                            <a href="{% url 'all_books' %}?category=mystery_thriller" class="dropdown-item">Mystery &amp; Thriller</a>
                            <a href="{% url 'all_books' %}?category=scifi_fantasy" class="dropdown-item">Science Fiction &amp; Fantasy</a>
                            <a href="{% url 'all_books' %}?category=classics,historical,mystery_thriller,scifi_fantasy" class="dropdown-item">All Fiction</a>
                        </div>
                    </li>

                    <!-- Non-Fiction Menu -->
                    <li class="nav-item dropdown">
                        <a class="bookstore-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Non-Fiction
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                            <a href="{% url 'all_books' %}?category=biography" class="dropdown-item">Biography &amp; Memoir</a>
                            <a href="{% url 'all_books' %}?category=other" class="dropdown-item">Other Non-Fiction</a>
                            <a href="{% url 'all_books' %}?category=biography,other" class="dropdown-item">All Non-Fiction</a>
                        </div>
                    </li>
                    
                    <!-- Special Categories -->
                    <li class="nav-item dropdown">
                        <a class="bookstore-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Special Categories
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'all_books' %}?price_category=premium" class="dropdown-item">Premium Books</a>
                            <a href="{% url 'all_books' %}?price_category=budget" class="dropdown-item">Budget Friendly</a>
                            <a href="{% url 'all_books' %}" class="dropdown-item">All Categories</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>