{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                Image To Go Here
                <div class="image-container my-5"></div>
            </div>
            <div class="col">
                <h1>{{ book.title }}</h1>
                <p class="lead mb-0 text-left font-weight-bold">${{ book.price }}</p>
            </div>
        </div>
    </div>
{% endblock %}